<% include partials/head.ejs %>

<main class="container games-live">
  <section class="live">
    <h1 class="text-center">Speel mee:</h1>
      <div class="row">

        <div class="fragment col-md-4">
          <div class="panel panel-default">
            <a href="/signatuur" class="game-one"><img class="media-object" src="/img/video1.jpg" alt="game-one"></a>
            <div class="panel-body">
              <h4>Signatuuropdracht</h4>
              <p>Voorspel hier de uitslag van de signatuuropdracht</p>
            </div>
            <div class="progress">
              <div class="progress-bar bar-1" role="progressbar" aria-valuenow="<%= timeNowGameOne %>"
              aria-valuemin="0" aria-valuemax="100" style="width:<%= timeNowGameOne %>%">
              </div>
            </div>
          </div>
        </div>

        <div class="fragment col-md-4">
          <div class="panel panel-default">
            <a href="/technisch" class="game-one"><img class="media-object" src="/img/video1.jpg" alt="game-one"></a>
            <div class="panel-body">
              <h4>Technische opdracht</h4>
              <p>Raadt de volorde van het recept</p>
            </div>
            <div class="progress">
              <div class="progress-bar bar-2" role="progressbar" aria-valuenow="<%= timeNowGameTwo %>"
              aria-valuemin="0" aria-valuemax="100" style="width:<%= timeNowGameTwo %>%">
              </div>
            </div>
          </div>
        </div>

        <div class="fragment col-md-4">
          <div class="panel panel-default"/>
            <a href="/spektakel" class="game-one"><img class="media-object" src="/img/video1.jpg" alt="game-one"></a>
            <div class="panel-body">
              <h4>Spektakelstuk</h4>
              <p>Voorspel hier de uitslag van de signatuuropdracht</p>
            </div>
            <div class="progress">
              <div class="progress-bar bar-3" role="progressbar" aria-valuenow="<%= timeNowGameThree %>"
              aria-valuemin="0" aria-valuemax="100" style="width:<%= timeNowGameThree %>%">
              </div>
            </div>
          </div>
        </div>

      </div>
  </section>

</main>



</main>
 
<% include partials/foot.ejs %>
